.background-white-and-red-1 {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    left: 195px;
    top: 0;
    transform: scale(1.285);
  }
  .wrapper-background-white-and-r {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .alas-belakang,
  .alas-login {
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: none;
    border-radius: 20px;
    max-width: 100%;
  }
  .alas-belakang {
    height: 599px;
    width: 510px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }
  .alas-login {
    align-self: stretch;
    width: 1000px;
    border-radius: 20px;
    background-color: var(--color-white);
  }
  .tampak-depan-mhs-1 {
    height: 599px;
    width: 490px;
    position: relative;
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 20px;
    z-index: 3;
  }
  .sign-up {
    margin: 0;
    width: 102px;
    height: 30px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 3;
  }
  .background-white,
  .background-white1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-firebrick);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: none;
  }
  .background-white1 {
    background-color: var(--color-white);
  }
  .register-as {
    position: absolute;
    top: 92px;
    left: 107px;
    font-size: var(--font-size-xl);
    font-weight: 500;
    z-index: 5;
  }
  .sircle-red,
  .sircle-white {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-firebrick);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .sircle-white {
    background-color: var(--color-white);
    z-index: 6;
  }
  .teacher-icon {
    position: absolute;
    top: 18px;
    left: 33px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    z-index: 7;
  }
  .guru1 {
    margin: 0;
    text-decoration: none;
    color: black;
  }
  .guru {
    position: absolute;
    top: 74px;
    left: 33px;
    z-index: 7;
    text-decoration: none;
  }
  .student-circle-frame {
    position: absolute;
    width: calc(100% - 10px);
    top: 5px;
    right: 5px;
    left: 5px;
    height: 110px;
    text-decoration: none;
  }
  .red-guru-circle-frame {
    position: absolute;
    top: 138px;
    left: 190px;
    width: 120px;
    height: 120px;
  }
  .sircle-red1,
  .sircle-white1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-firebrick);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .sircle-white1 {
    background-color: var(--color-white);
    z-index: 6;
  }
  .siswa,
  .students-icon {
    position: absolute;
    left: 30px;
    z-index: 7;
  }
  .students-icon {
    top: 18px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .siswa {
    top: 74px;
    color: black;
  }
  .sircle-white-parent {
    position: absolute;
    width: calc(100% - 10px);
    top: 5px;
    right: 5px;
    left: 5px;
    height: 110px;
  }
  .red-guru-circle-frame1 {
    position: absolute;
    top: 133px;
    left: 38px;
    width: 120px;
    height: 120px;
  }
  .background-white-group {
    position: absolute;
    top: 25px;
    left: 26px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 350px;
    z-index: 4;
  }
  .background-white-parent,
  .lingkaran {
    position: absolute;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
  }
  .background-white-parent {
    top: 76px;
    border-radius: 20px;
    background-color: var(--color-firebrick);
    height: 400px;
    z-index: 3;
  }
  .lingkaran {
    top: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    height: 100%;
    z-index: 5;
  }
  .logo-mhs-icon {
    position: absolute;
    top: 18px;
    left: 38px;
    width: 78px;
    height: 117px;
    object-fit: cover;
    z-index: 6;
  }
  .ellipse-shape {
    position: absolute;
    top: 0;
    left: 124px;
    width: 152px;
    height: 152px;
  }
  .back-button {
    align-self: stretch;
    height: 476px;
    position: relative;
    font-size: var(--font-size-mini);
  }
  .student-frame,
  .teacher-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .teacher-frame {
    align-self: stretch;
    align-items: center;
    gap: 11px;
  }
  .student-frame {
    width: 400px;
    align-items: flex-start;
    padding: var(--padding-xl) 0 0;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 100%;
  }
  .form-sign-up,
  .frame-parent {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .frame-parent {
    width: 1000px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    justify-content: flex-start;
    gap: var(--gap-36xl);
    max-width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 25px;
    color: var(--color-black);
    font-family: var(--font-inter);
    border-radius: 20px;
  }
  .form-sign-up {
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding: 212px var(--padding-xl) 213px;
    box-sizing: border-box;
    letter-spacing: normal;
    
  }
  @media screen and (max-width: 950px) {
    .student-frame,
    .tampak-depan-mhs-1 {
    justify-content: center;

      flex-wrap: wrap;
    }
    .tampak-depan-mhs-1 {
      display: none;
    }

    .frame-parent {
     justify-content: center;
     align-items: center;
    }


}

