body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;

    /* font sizes */
    --font-size-mini: 15px;

    /* Colors */
    --color-white: #fff;
    --color-firebrick: #bc2020;
    --color-black: #000;

    --padding-xl: 20px;
    --padding-7xl: 26px;
    --padding-12xs: 1px;
    --padding-7xs: 6px;
    --padding-mini: 15px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
}

.background-white-and-red-1 {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    left: 195px;
    top: 0;
    transform: scale(1.285);
}
.wrapper-background-white-and-r {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.alas-belakang,
.alas-login {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 599px;
    display: none;
}
.alas-belakang {
    width: 510px;
    position: relative;
    border-radius: 0 var(--br-xl) var(--br-xl) 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.alas-login {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--color-white);
    width: 1000px;
}
.background-red {
    border-radius: 20px;
    background-color: var(--color-firebrick);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 500px;
}
.background-red,
.background-white,
.bar-red,
.bar-white {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.background-white {
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 433px;
}
.bar-red,
.bar-white {
    border-radius: 20px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
}
.bar-white {
    background-color: var(--color-white);
    width: 215.8px;
    height: 24.8px;
}
.view-hide-fill-icon {
    position: absolute;
    top: 4px;
    left: 191px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    z-index: 7;
}
.divider-frames,
.submit-button-frame {
    position: absolute;
    top: 4px;
    left: 8px;
    border-radius: 20px;
    background-color: var(--color-white);
    width: 216px;
    height: 25px;
    z-index: 6;
}
.submit-button-frame {
    top: 347px;
    left: 62px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text {
    position: absolute;
    top: 325px;
    left: 29px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.bar-red1 {
    top: -0.4px;
    left: 0.4px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
    display: none;
}
.bar-red1,
.bar-white1,
.submit-button-frame1 {
    position: absolute;
    border-radius: 20px;
}
.bar-white1 {
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    top: 3.8px;
    left: 9.7px;
    width: 215.8px;
    height: 24.8px;
    z-index: 6;
}
.submit-button-frame1 {
    top: 286px;
    left: 60px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text1 {
    position: absolute;
    top: 262px;
    left: 32px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.bar-red2 {
    top: -0.4px;
    left: 0.4px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
    display: none;
}
.bar-red2,
.bar-white2,
.submit-button-frame2 {
    position: absolute;
    border-radius: 20px;
}
.bar-white2 {
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    top: 3.8px;
    left: 9.7px;
    width: 215.8px;
    height: 24.8px;
    z-index: 6;
}
.submit-button-frame2 {
    top: 224px;
    left: 60px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text2 {
    position: absolute;
    top: 200px;
    left: 50px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.bar-red3 {
    top: -0.4px;
    left: 0.4px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
    display: none;
}
.bar-red3,
.bar-white3,
.submit-button-frame3 {
    position: absolute;
    border-radius: 20px;
}
.bar-white3 {
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    top: 3.8px;
    left: 9.7px;
    width: 215.8px;
    height: 24.8px;
    z-index: 6;
}
.submit-button-frame3 {
    top: 162px;
    left: 60px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text3 {
    position: absolute;
    top: 140px;
    left: 13px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.bar-red4 {
    top: -0.4px;
    left: 0.4px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
    display: none;
}
.bar-red4,
.bar-white4,
.submit-button-frame4 {
    position: absolute;
    border-radius: 20px;
}
.bar-white4 {
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    top: 3.8px;
    left: 9.7px;
    width: 215.8px;
    height: 24.8px;
    z-index: 6;
}
.submit-button-frame4 {
    top: 100px;
    left: 60px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text4 {
    position: absolute;
    top: 77px;
    left: 10px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.bar-red5 {
    top: -0.4px;
    left: 0.4px;
    background-color: var(--color-firebrick);
    width: 232.6px;
    height: 32.8px;
    display: none;
}
.bar-red5,
.bar-white5,
.submit-button-frame5 {
    position: absolute;
    border-radius: 20px;
}
.bar-white5 {
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    top: 3.8px;
    left: 9.7px;
    width: 215.8px;
    height: 24.8px;
    z-index: 6;
}
.submit-button-frame5 {
    top: 38px;
    left: 60px;
    background-color: var(--color-firebrick);
    width: 233px;
    height: 33px;
    z-index: 5;
}
.username-text5 {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 500;
    display: inline-block;
    width: 155.9px;
    height: 16.5px;
    z-index: 5;
}
.single-user-text-frame {
    position: absolute;
    top: 42px;
    left: 26px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 433px;
    z-index: 4;
}
.sign-up-as {
    position: absolute;
    top: 9px;
    left: 109px;
    font-size: 20px;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 4;
}
.bar-red6,
.bar-white6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--color-firebrick);
    width: 113px;
    height: 35px;
    display: none;
}
.bar-white6 {
    background-color: var(--color-white);
    width: 105px;
    height: 27px;
}
.submit1 {
    position: absolute;
    top: 2px;
    left: 24px;
    font-size: var(--font-size-mini);
    font-weight: 800;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
    z-index: 2;
}
.mhs-pic-frame,
.submit,
.username-text-frames {
    position: absolute;
    border-radius: 20px;
}
.mhs-pic-frame {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
    top: 4px;
    left: 4px;
    width: 105px;
    height: 27px;
    z-index: 1;
}
.submit,
.username-text-frames {
    top: 457px;
    left: 143px;
    background-color: var(--color-firebrick);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    width: 113px;
    height: 35px;
    z-index: 5;
}
.username-text-frames {
    top: 68px;
    left: 545px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 500px;
    z-index: 3;
}
.mhs-pic-icon {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    width: 45%;
    object-fit: cover;
    z-index: 3;
}
.lingkaran,
.userframe-container {
    position: absolute;
    background-color: var(--color-white);
}
.userframe-container {
    top: 101px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 599px;
}
.lingkaran {
    top: 0;
    left: calc(50% - 76px);
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 152px;
    height: 152px;
}
.logo-mhs-icon {
    position: absolute;
    top: 17px;
    left: calc(50% - 39px);
    width: 78px;
    height: 117px;
    object-fit: cover;
    z-index: 1;
}
.logo-mhs {
    position: absolute;
    top: 0;
    left: 669px;
    width: 152px;
    height: 152px;
    z-index: 3;
}
.user-frame {
    height: 700px;
    width: 1000px;
    position: relative;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-poppins);
}
.form-sign-up-siswa {
    width: 100%;
    height: 110%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 15px;
}

@media screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    .userframe-container {
        position: relative;
        right: 5%;
    }

    .user-frame {
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 200px;
        position: relative;
    }

    .form-sign-up-siswa {
        padding: 1px;
    }
    .mhs-pic-icon {
        display: none;
    }

    .lingkaran {
        display: none;
    }
    .logo-mhs-icon {
        display: none;
    }

    .submit,
    .username-text-frames {
        top: 10px;
        left: 10px;
        background-color: var(--color-firebrick);
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
        width: 113px;
        height: 35px;
        z-index: 5;
    }
    .username-text-frames {
        top: 1%;
        left: 1%;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
        width: 400px;
        height: 500px;
        z-index: 3;
    }
}
