@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-base: 16px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-brown-100: #bd4040;
  --color-brown-200: #961a1a;
  --color-firebrick: #bc2020;
  --color-gray: rgba(255, 255, 255, 0.6);

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-36xl: 55px;
  --padding-5xl: 24px;
  --padding-6xs: 7px;
  --padding-6xl: 25px;
  --padding-10xl: 29px;
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-28xl: 47px;
  --padding-53xl: 72px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mini: 15px;
  --br-6xl: 25px;
  --br-11xl: 30px;

  /* Baru bg */

  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-6xl: 25px;
  --font-size-2xs: 11px;
  --font-size-3xs: 10px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-6xs: 7px;
  --font-size-5xs: 8px;

  /* Colors */
  --color-white: #fff;
  --color-firebrick-100: #bc2020;
  --color-firebrick-200: #af2121;
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-brown-100: #bd4040;
  --color-brown-200: #961a1a;
  --color-gray-100: rgba(255, 255, 255, 0.6);
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-red-100: #e80606;

  /* Gaps */
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-5xl-6: 24.6px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-93xl: 112px;
  --padding-206xl: 225px;
  --padding-38xl: 57px;
  --padding-167xl: 186px;
  --padding-43xl-7: 62.7px;
  --padding-43xl: 62px;
  --padding-60xl: 79px;
  --padding-67xl: 86px;
  --padding-102xl: 121px;
  --padding-3xs-3: 9.3px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-7xl-7: 26.7px;
  --padding-11xs: 2px;
  --padding-7xl-9: 26.9px;
  --padding-19xl: 38px;
  --padding-5xl: 24px;
  --padding-5xl-5: 24.5px;
  --padding-15xl: 34px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-30xl: 49px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-11xl: 30px;
  --br-8xs: 5px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: normal;
}
.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content1 content2"
    "footer content7 content8 contet9";
  grid-gap: 0.2rem;
  text-align: center;
  color: white;
}
nav {
  height: 155px;
  background-color: #bc2020;

  grid-area: nav;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
}
.gambar {
  position: absolute;
  left: 40px;
}

.text1 h1 {
  left: 130px;
  position: relative;
  color: white;
  font-size: 25px;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav .home-link {
  margin-right: auto;
}
nav svg {
  fill: var(--text-color);
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
}

#content1 {
  grid-area: content1;
}

footer {
  grid-area: footer;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

.background-pic-rectangle1,
.vector-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.background-pic-rectangle1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 9px 0 var(--padding-base);
}

.background-pic-rectangle,
.vector-one {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.background-pic-rectangle {
  width: 470px;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 10px;
  font-family: var(--font-poppins);
}

.account-bar-child,
.vector-one-child {
  position: relative;
  display: none;
  max-width: 100%;
}

.vector-one-child {
  width: 450px;
  height: 1204px;
  background-color: var(--color-white);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.vector-one {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 63px 10px 62px;
  gap: 35px 0;
  z-index: 1;
}

.account-bar,
.update-account-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.account-bar {
  border-radius: var(--br-mini);
  background-color: var(--color-brown-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 48px var(--padding-base) 12px var(--padding-xl);
  gap: 11px;
  z-index: 2;
}

.selamat-datang-text-parent {
  height: 78px;
  width: 78px;
  position: relative;
}

.selamat-datang-text {
  position: absolute;
  top: -0.1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.user-alt-fill-icon {
  position: absolute;
  top: 17.6px;
  left: 17.7px;
  border-radius: var(--br-mini);
  width: 41.1px;
  height: 41.1px;
  z-index: 2;
}

.update-account-text {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  min-width: 130px;
}

.raport-siswa-ranking-profil-wa {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px 0;
}

.back-ground-pics-table {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px 0;
}

.selamat-datang-text {
  position: absolute;
  top: -0.1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.selamat-datang-text-parent {
  height: 78px;
  width: 78px;
  position: relative;
}

.selamat-datang,
.user-kelas-container {
  position: relative;
  z-index: 1;
}

.user-kelas-container {
  align-self: stretch;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

.spp-jauh-lebih-murah-vector {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 11px;
}

.update-account {
  width: 117.7px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}

.background-pic-rectangle1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 9px 0 var(--padding-base);
}

.vector-frame {
  flex: 1;
  flex-direction: column;
  gap: 1px 0;
}

.raport-siswa-ranking-profil-wa1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-8xl)
    var(--padding-xl);
  background-color: var(--color-brown-200);
  align-self: stretch;
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.raport-siswa-ranking-profil-wa1:hover,
.raport-siswa-ranking-profil-wa2:hover,
.raport-siswa-ranking-profil-wa3:hover,
.raport-siswa-ranking-profil-wa4:hover,
.rectangle-parent:hover {
  background-color: var(--color-brown-100);
}

.raport-siswa-ranking-profil-wa-child {
  height: 85px;
  width: 300px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-brown-200);
  display: none;
}

.raport-siswa {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}

.raport-siswa-ranking-profil-wa2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-8xl)
    var(--padding-xl);
  background-color: var(--color-brown-200);
  align-self: stretch;
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.raport-siswa-ranking-profil-wa-item {
  height: 85px;
  width: 300px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-brown-200);
  display: none;
}

.ranking {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}

.raport-siswa-ranking-profil-wa3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-8xl)
    var(--padding-xl);
  background-color: var(--color-brown-200);
  align-self: stretch;
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-decoration: none;
}

.raport-siswa-ranking-profil-wa4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-8xl)
    var(--padding-xl);
  background-color: var(--color-brown-200);
  align-self: stretch;
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-decoration: none;
}

.raport-siswa-ranking-profil-wa-inner {
  height: 85px;
  width: 300px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-brown-200);
  display: none;
}

.profil-walikelas {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}
.second-row-separator {
  width: 990px;
  height: 838px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-xs);
}
.table-atas,
.table1 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
}
.table-atas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brown-200);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 992px;
  height: 50px;
  z-index: 1;
}
.fourth-row-separator {
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.table1 {
  background-color: var(--color-white);
}
.table1,
.update-data-button-child,
.useraltfill-instance-child {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.sign-out-button1 {
  cursor: pointer;
  border: 0;
  padding: 22px var(--padding-38xl) 21.7px 418px;
  background-color: var(--color-firebrick-200);
  width: 990px;
  margin: 0 !important;
  position: absolute;
  top: 48px;
  left: 0;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 2;
}
.table-atas1 {
  height: 100px;
  width: 992px;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-firebrick-200);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.rectangle-parent3,
.sign-out-button-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-out-button-inner {
  flex-direction: column;
  padding: 6px 0 0;
}
.rectangle-parent3 {
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  padding: 4px 39px 3px 41px;
  z-index: 3;
}
.frame-child11 {
  height: 43px;
  width: 160px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
}
.frame-child11,
.table-atas1 {
  position: relative;
  display: none;
}
.siswa1 {
  width: 80px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  min-width: 80px;
  z-index: 4;
}
.sign-out-button2 {
  height: 56.3px;
  width: 56.3px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.update-data-button {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-firebrick-200);
  width: 800px;
  margin-bottom: 20px;
  height: 140px;
  z-index: 1;
}
.table1,
.update-data-button-child,
.useraltfill-instance-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.update-data-button-child {
  border-radius: var(--br-mini);
  background-color: var(--color-firebrick-200);
}
.useraltfill-instance {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 88px;
  left: 220px;
  border-radius: var(--br-6xl);
  width: 130px;
  height: 37px;
  white-space: nowrap;
  z-index: 2;
}
.useraltfill-instance-child {
  border-radius: var(--br-6xl);
}
.edit-data-nilai {
  position: absolute;
  bottom: -8px;
  right: -6px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 108px;
  z-index: 3;
}
.name-column-label:hover,
.useraltfill-instance:hover,
.vector-container:hover,
.vector-group:hover,
.vector-parent1:hover,
.vector-parent2:hover,
.vector-parent3:hover,
.vector-parent:hover {
  background-color: var(--color-gainsboro-100);
}
.name-column-label {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 88px;
  left: 363px;
  border-radius: var(--br-6xl);
  width: 130px;
  height: 37px;
  white-space: nowrap;
  z-index: 2;
}
.name-column-label-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 100%;
  height: 100%;
  display: none;
}
.input-raport {
  position: relative;
  top: -6px;
  left: -1px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 97px;
  z-index: 3;
}
.update-data {
  position: absolute;
  color: var(--color-white);
  text-decoration: none;
  top: 100px;
  left: 640px;
  font-weight: 500;
  display: inline-block;
  width: 117.7px;
  height: 18.9px;
  z-index: 2;
}
.welcome-message-parent {
  position: absolute;
  top: 21px;
  left: 91px;
  width: 98px;
  height: 98px;
}
.welcome-message {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.user-alt-fill-icon1 {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: var(--br-mini);
  width: 50px;
  height: 50px;
  z-index: 3;
}
.b,
.nama-kelas-container,
.text {
  position: absolute;
  display: inline-block;
}
.nama-kelas-container {
  margin: 0;
  margin-left: 20px;
  top: 41px;
  left: 189px;
  font-size: var(--font-size-5xl);
  width: auto;
  font-family: inherit;
}
.b,
.nama-kelas-container {
  height: 27px;
}

.b {
  top: 56px;
  left: 4px;
  font-size: var(--font-size-13xl);
  width: 63px;
  z-index: 2;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.visible-scrollbar {
  bottom: 700px;
  position: relative;
  width: 900px;
  overflow: auto;
  height: 500px;
  padding: 1em;
  margin: 1em auto;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "footer";
  }

  .gambar {
    display: none;
  }

  .text1 h1 {
    display: none;
  }

  nav {
    border-radius: 0px;
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
    float: inline-end;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .account-bar {
    width: 130%;
  }
  .background-pic-rectangle {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #sidebar {
    display: none;
  }

  .raport-siswa-ranking-profil-wa1 {
    display: none;
  }

  .raport-siswa-ranking-profil-wa2 {
    display: none;
  }
  .raport-siswa-ranking-profil-wa3 {
    display: none;
  }
  .raport-siswa-ranking-profil-wa4 {
    display: none;
  }

  .container {
    height: 1px;
  }

  nav {
    height: 70px;
    border-radius: 20px;
  }

  .vector-parent {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 21%;
    box-sizing: border-box;
    top: 50px;
    height: 200px;
    width: 200px;
  }

  .icon-image {
    top: 1px;
    position: relative;
    width: 20%;
  }
  .table-atas {
    display: none;
  }
  .sign-out-button1 {
    display: none;
  }
  .visible-scrollbar {
    width: 100%;
  }
  .rectangle-parent3 {
    position: relative;
    right: 250px;
  }
  .sign-out-button2 {
    right: 200px;
  }
  .update-data-button {
    width: 150%;
  }
  .visible-scrollbar {
    bottom: 700px;
    position: relative;
    right: 10px;
    width: 100%;
    overflow: auto;
    height: 500px;
    padding: 1em;
    margin: 1em auto;
  }
  .fourth-row-separator {
    display: none;
  }
  .second-row-separator {
    width: 10%;
  }
  .sign-out-button-inner {
    width: 100px;
  }
  .b {
    top: 38px;
    left: 4px;
    font-size: var(--font-size-13xl);
    width: 63px;
    z-index: 2;
    font-size: 25px;
  }
  .nama-kelas-container {
    margin: 0;
    top: 41px;
    left: 25%;
    font-size: var(--font-size-5xl);
    width: 100%;
    font-family: inherit;
    font-size: 15px;
  }
  .welcome-message-parent {
    left: 60px;
    width: 50px;
    height: 50px;
    top: 25px;
  }
  .useraltfill-instance {
    top: 88px;
    left: 5px;
    width: 130px;
    height: 37px;
  }
  .name-column-label {
    top: 88px;
    left: 140px;
    width: 130px;
    height: 37px;
  }
  .user-alt-fill-icon1 {
    position: absolute;
    top: 14px;
    left: 13px;
    border-radius: var(--br-mini);
    width: 25px;
    height: 25px;
    z-index: 3;
  }
}
